* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

.form-body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.superhero {
  & img {
    max-height: 300px;
  }
}