<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
    <title>Who is your favorite superhero?</title>
</head>
<body>
<main>
    <h1>Who is your favourite superhero?</h1>
    <h2>Select one of these:</h2>
    <form name="superhero_form" method="post" action="/" enctype="application/x-www-form-urlencoded">
        <div class="form-body">
            {{#each heroes}}
                <article class="superhero">
                    <label>
                        <span class="superhero-image">
                            <img src="images/{{image_file}}" alt="{{name}}">
                        </span>
                        <span class="superhero-name">{{name}}</span>
                        <input type="radio" name="superhero" value="{{id}}">
                    </label>
                </article>
            {{/each}}
        </div>
        <div class="form-footer">
            <button class="button-outline" type="reset">Clear</button>
            <button class="button-primary" type="submit" disabled>Submit</button>
        </div>
    </form>
</main>
<script type="module">
    const form = document.forms["superhero_form"];
    const submitBtn = document.querySelector("button[type='submit']");

    form.addEventListener("change", (event) => {
        if (event.target.name === "superhero" && event.target.checked) {
            submitBtn.disabled = false;
        }
        console.log("change");
    });
    form.addEventListener("reset", () => {
        submitBtn.disabled = true;
    });
</script>
</body>
</html>