<!DOCTYPE html>
<html lang="en">
<head>
    <title>Who is your favorite superhero?</title>
    <link href="styles.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<h1>Who is your favourite superhero?</h1>
<form name="superhero_form" method="post" action="/" enctype="application/x-www-form-urlencoded">
    <div class="form-body">
        {{#each heroes}}
            <article class="superhero">
                <label>
                    <span>{{name}}</span>
                    <img src="images/{{image_file}}" alt="{{name}}"/>
                    <input type="radio" name="superhero" value="{{id}}"/>
                </label>
            </article>
        {{/each}}
    </div>
    <div class="form-footer">
        <button type="submit" disabled>Submit</button>
        <button type="reset">Clear</button>
    </div>
</form>
<script type="module">
    const form = document.forms["superhero_form"];
    const submitBtn = document.querySelector("button[type='submit']");
    form.addEventListener("change", (event) => {
        if (event.target.name === "superhero" && event.target.checked) {
            submitBtn.disabled = false;
        }
        console.log("change");
    });
    form.addEventListener("reset", () => {
        submitBtn.disabled = true;
    });
</script>
</body>
</html>