<!DOCTYPE html>
<html lang="en">
<head>
    <title>Superhero results</title>
    <link href="styles.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<h1>Results</h1>
{{#each results}}
    <article class="superhero">
        <span>{{name}}</span>
        <img src="images/{{image_file}}" alt="{{name}}"/>
        <span>{{votes}}</span>
    </article>
{{/each}}
</body>
</html>
