<!DOCTYPE html>
<html lang="en">
<head>
    <title>Who is your favorite superhero?</title>
    <link href="styles.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<h1>THANKS!</h1>
</body>
</html>
